@import "susy";
@import "breakpoint";

//variables
@import "variables";

//mixins
@import "mixins";

//partials
@import "buttons";
@import "nav";


//fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,cyrillic);

//Susy settings
$susy: (
  columns: 12,
  gutter-position: inside,
  gutters: 0,
  math: fluid,
  output: float,
);

*, :after, :before {
	box-sizing: border-box;
}

section {
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
	background-color: $beige;
	color: $brown;
}

.wrapper {
	height: 100%;
    overflow: hidden;
    // background-color: $brown;
    // padding: 0 2rem;
}

h2 {
	font-size: 2rem;
}

header#top {
	background: url(../img/header-bg.jpg) center center no-repeat;
	@include background-size(cover);
	//@include container(100%);
	height: auto;
	position: relative;
	z-index: 52;
	border-bottom: 4px solid $green;
	padding-bottom: 2rem;
	@include breakpoint($phone) {
		height: 500px;
	}

	.offer-content {
			@include container(1160px);
			position: relative;
			text-align: center;
			z-index: 60;
			padding-top: 9rem;
			@include breakpoint($tablet) {
				text-align: center;
				height: 240px;
			}

			.offer-block {
				display: inline-block;
				padding: 2rem;
				background-color: transparentize($brown, 0.2);
				
				img {
					display: block;
					margin: 0 auto;
					max-width: 100%;
				}
				
				h1 {
					color: $white;
					font-weight: 300;
					@include breakpoint($tablet) {

					}
				}

				.old-price {
					text-decoration: line-through;
				}

				span.collection {
					color: $white;
					position: relative;
					top: -0.6rem;
					font-size: 2rem;
				}

				h3 {
					color: $green;
					font-weight: 300;
					margin-bottom: 2rem;
					@include breakpoint($tablet) {

					}
				}

				a {
					@include breakpoint($tablet) {

					}
				}
			}

			
		}

	.scroll-btn span {
		display: none;
		position: absolute;
		top: 590px;
		left: 50%;
		width: 24px;
		height: 24px;
		z-index: 500;
		margin-left: -12px;
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-animation: sdb05 1.5s infinite;
		animation: sdb05 1.5s infinite;
		box-sizing: border-box;
		
		@include breakpoint($phone) {
			display: none;
		}
	}
	@-webkit-keyframes sdb05 {
		0% {
			-webkit-transform: rotate(-45deg) translate(0, 0);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			-webkit-transform: rotate(-45deg) translate(-20px, 20px);
			opacity: 0;
		}
	}
	@keyframes sdb05 {
		0% {
			transform: rotate(-45deg) translate(0, 0);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			transform: rotate(-45deg) translate(-20px, 20px);
			opacity: 0;
		}
	}

}

#about {
	padding: 2rem 0;
	.about {
		@include container(1160px);
		position: relative;
		padding-left: 5em;
		@include breakpoint($tablet) {
		}
		@include breakpoint($phone) {
			padding-left: 0.5em;
		}

		.content {
			@include span(7 first);
			color: $brown;
			@include breakpoint($phone) {
				@include span(12);
				padding-left: 1rem;
				padding-right: 1rem;
			}

			p {
				font-size: 1.3rem;
			}
		}

		.woods {
			@include span(5 last);
			opacity: 0;			
			@include breakpoint($phone) {
				display: none;
			}
			
			img {
				position: absolute;
			}

			#wood-1 {
				right: 300px;
				top: 73px;
			}
			#wood-2 {
				right: 260px;
				top: 55px;
			}
			#wood-3 {
				right: 220px;
				top: 31px;
				
			}
			#wood-4 {
				right: 180px;
				top: 15px;
			}
		}
	}

	span.line {
		width: 100%;
		display: block;
		height: 4px;
		background-color: $green;
		position: relative;
		top: 3em;
		@include breakpoint($tablet) {
			top: 33em;
		}
		@include breakpoint($phone) {
			display: none;
		}
	}
}

#products {
	position: relative;
	z-index: 30;
	padding-bottom: 100px;

	.container {
		@include container(1000px);
		padding-top: 5em;
		@include breakpoint($phone) {
			@include container(90%);
		}

		h2 {
			margin-bottom: 1em;
			@include breakpoint($phone) {
				position: relative;
				z-index: 60;
			}
		}

		a.block {
			height: 200px;
			text-align: center;
			display: block;
			position: relative;
			@include span(3);
			padding: 0;
			margin-bottom: 2.3em;
			text-decoration: none;
			@include breakpoint($phone) {
				@include span(6);
				margin-bottom: 0;
				height: 270px;
			}

			span {
				width: 80%;
				height: 200px;
				display: block;
				margin: 0 auto;
				background-color: transparentize($brown, 0.4);
				border-bottom: 4px solid $green;
				position: relative;
				z-index: 250;
				@include breakpoint($phone) {
					width: 100%;
				}

				&:hover {
					.mask {
						opacity: 1;
						height: 200px;
						border-top: 4px solid $green;
						color: $white;
						font-size: 1.2rem;
						@include transition(0.6s);
					}

					p {
						//opacity: 0;
					}
				}


				p {
					padding-top: 80px;
					color: $white;
					font-size: 1.5rem;
				}
			}

			.box-1 {
				background: url(../img/laminate.jpg) center center no-repeat;
				@include background-size(cover);
				position: relative;
				//overflow: hidden;

				.mask {
					width: 100%;
					height: 0;
					position: absolute;
					bottom: 0;
					background-color: transparentize($brown, 0.05);
					opacity: 0;
					border-bottom: none;
					color: $green;
					font-size: 0.2rem;
					@include transition(0.6s);
				}
			}

			.box-2 {
				background: url(../img/artvinyl.jpg) center center no-repeat;
				@include background-size(cover);
			}
			.box-3 {
				background: url(../img/parquet.jpg) center center no-repeat;
				@include background-size(cover);
			}
			.box-4 {
				background: url(../img/quartz.jpg) center center no-repeat;
				@include background-size(cover);
			}
			.box-5 {
				background: url(../img/cork.jpg) center center no-repeat;
				@include background-size(cover);
			}
			.box-6 {
				background: url(../img/plinth.jpg) center center no-repeat;
				@include background-size(cover);
			}
			.box-7 {
				background: url(../img/accessories.jpg) center center no-repeat;
				@include background-size(cover);
			}
		}
	}

	.top-right-img {
		position: absolute;
		top: -20rem;
		right: 0;
		height: 600px;
		width: 35%;
		display: block;
		float: right;
		background: url(../img/wood-top-right.png) center top no-repeat;
		@include background-size(100%);
		@include breakpoint($phone) {
			display: none;
		}
	}

	.bottom-left-img {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 800px;
		width: 35%;
		display: block;
		float: left;
		background: url(../img/wood-bottom-left.png) center bottom no-repeat;
		@include background-size(100%);
		@include breakpoint($phone) {
			display: none;
		}
	}

	// .tree {
	// 	position: absolute;
	// 	bottom: 0;
	// 	right: 0;
	// 	height: 600px;
	// 	width: 38%;
	// 	display: block;
	// 	float: right;
	// 	background: url(../img/tree.png) center bottom no-repeat;
	// 	@include background-size(100%);
	// 	@include breakpoint($phone) {
	// 		display: none;
	// 	}
	// }
}

#services {
	padding: 70px 0 90px;
	color: $white;
	position: relative;
	z-index: 50;
	background: url(../img/services-bg.jpg) center center no-repeat;
	background-attachment: fixed;
	@include background-size(cover);

	.container {
		@include container(1000px);
		@include breakpoint($phone) {
			@include container(90%);
		}
		
		h2 {
			margin-bottom: 1em;
			text-align: center;
		}

		a.block {
			height: 200px;
			text-align: center;
			display: block;
			position: relative;
			@include span(3);
			padding: 0;
			margin-bottom: 2.3em;
			text-decoration: none;
			@include breakpoint($phone) {
				@include span(12);
			}

			span {
				width: 80%;
				height: 200px;
				display: block;
				margin: 0 auto;
				background-color: transparentize($beige, 0.4);
				border-bottom: 4px solid $green;


				p {
					padding-top: 80px;
					color: $brown;
					font-size: 1.5rem;
					font-weight: normal;
				}
			}

			.box-1 {
				background: url(../img/service-1.jpg) center center no-repeat;
				@include background-size(cover);
			}

			.box-2 {
				background: url(../img/service-2.jpg) center center no-repeat;
				@include background-size(cover);
			}

			.box-3 {
				background: url(../img/service-3.jpg) center center no-repeat;
				@include background-size(cover);
			}

			.box-4 {
				background: url(../img/service-4.jpg) center center no-repeat;
				@include background-size(cover);
			}
		}

		a.btn {
			float: right;
			margin-top: 1.5em;
		}

	}
}

#portfolio {
	position: relative;
	z-index: 48;
	padding-bottom: 100px;

	.top-right-img {
		position: absolute;
		top: 0;
		right: 0;
		height: 1000px;
		width: 35%;
		display: block;
		float: right;
		background: url(../img/portfolio-top-right.png) center top no-repeat;
		@include background-size(100%);
		@include breakpoint($phone) {
			display: none;
		}
	}

	.bottom-left-img {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 800px;
		width: 35%;
		display: block;
		float: left;
		background: url(../img/portfolio-bottom-left.png) center bottom no-repeat;
		@include background-size(100%);
		@include breakpoint($phone) {
			display: none;
		}
	}

	span.line {
		width: 45%;
		display: block;
		height: 4px;
		background-color: $green;
		position: relative;
		float: right;
		top: 14em;
		@include breakpoint($phone) {
			display: none;
		}
	}

	.container {
		@include container(1000px);
		padding: 100px 0 50px;
		position: relative;
		z-index: 40;
		@include breakpoint($phone) {
			@include container(90%);
			padding: 50px 0;
		}

		h2 {
			margin-bottom: 1.7em;
		}

		a.block {
			@include span(3);
			height: 250px;
			@include breakpoint($phone) {
				@include span(12);
			}


			img {
				width: 80%;
				border-top: 4px solid $green;
				display: block;
				margin: 0 auto;
			}
		}

	}

	.partners {
		position: relative;
		z-index: 52;
		@include container(1000px);
		@include breakpoint($phone) {
			@include container(90%);
		}

		p {
			font-size: 2rem;
			margin-bottom: 2em;
		}
	}
}

#discount {
	position: relative;
	z-index: 49;
	color: $white;
	text-align: center;
	background: url(../img/discount-bg.jpg) center center no-repeat;
	background-attachment: fixed;
	@include background-size(cover);

	.container {
		@include container(1000px);
		padding: 150px 0;
		@include breakpoint($phone) {
			@include container(90%);
		}

		h2 {
			font-weight: 300;
			margin-bottom: 1.5em;
			margin-top: 0;
		}

		.input {
			@include span(4);
			@include breakpoint($phone) {
				@include span(12);
				margin-bottom: 1em;
			}

			input {
				width: 96%;
				height: 60px;
				border: none;
				font-size: 1.2rem;
				padding-left: 1em;
				text-transform: uppercase;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 300;

				&:focus {
					outline-color: lighten($green, 10);
				}
			}
		}

		.button {
			@include span(4 last);
			@include breakpoint($phone) {
				@include span(12);
			}
			
			.btn {
				width: 96%;
				height: 60px;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: 300;
				&:hover {
					cursor: pointer;
				}
				@include breakpoint($phone) {
				}
			}
		}
	}
}

#brands {
	padding-top: 150px;
	padding-bottom: 80px;
	text-align: center;
	
	.container {
		@include container(1000px);
		
		.brand-block {
			@include span(4);
			padding: 1rem 2rem;
			margin-bottom: 2rem;
			
			.brand-inner {
			}
			
			img {
				margin-bottom: 2rem;
				max-width: 100%;
			}

			.btn {
				background: $brown;
				border: none;
			}
		}
	}
}

#post-content {
	padding-top: 150px;
	padding-bottom: 80px;
	
	.container {
		@include container(1000px);
		
		p {
			font-family: 'Helvetica', sans-serif;
		}

		img {
			max-width: 100%;
		}
	}
}

#contacts {
	padding: 0;
	position: relative;

	.container {
		@include container(100%);

		.map {
			@include span(6 first);
			background: url(../img/map.jpg) center center no-repeat;
			@include background-size(cover);
			height: 400px;
			position: relative;
			z-index: 50;
			@include breakpoint($phone) {
				@include span(12);
			}

			.arrow {
				position: relative;
				right: -350px;
				top: 140px;
				display: none;
			}
		}

		.address {
			@include span(6 last);
			background: url(../img/contacts-bg.jpg) left center no-repeat;
			@include background-size(cover);
			height: 400px;
			position: relative;
			z-index: 51;
			padding: 70px 0 0 80px;
			@include breakpoint($phone) {
				@include span(12);
				padding: 70px 0 70px 2em;
			}

			p {
				font-size: 1.5em;
				font-weight: 700;

				a {
					text-decoration: none;
					color: $brown;
				}
			}
		}
	}
}

footer {
	position: relative;
	background: url(../img/footer-bg.jpg) center center no-repeat;
	@include background-size(cover);
	color: $white;
	padding-top: 100px;
	padding-bottom: 30px;

	.container {
		@include container(1160px);
		@include breakpoint($phone) {
			@include container(90%);
		}

		.copy {
			@include span(6 first);
			@include breakpoint($phone) {
				@include span(12);
				text-align: center;
			}
		}

		.logo {
			@include span(6 last);

			img {
				float: right;
				margin-top: 15px;
			}
			@include breakpoint($phone) {
				display: none;
			}
		}
	}

	
}

.remodal {
	background: url(../img/modal-bg.jpg) center center no-repeat;
	@include background-size(cover);
	border-bottom: 4px solid $green;

	.remodal-close {
		top: -50px;
		left: 710px;
		opacity: 0.7;
		@include transition(0.6s);

		&:hover {
			@include transition(0.6s);
			@include transform(rotate(180deg) scale(1.2));
			@include transform-origin(50% 50%);
			opacity: 1;
		}
	}

	.remodal-close:before {
		display: none;
	}

	.remodal-close span:nth-child(1) {
		position: absolute;
		top: 16px;
		left: -2px;
		height: 2px;
		width: 40px;
		background-color: $white;
		@include transform(rotate(45deg));
	}

	.remodal-close span:nth-child(2) {
		position: absolute;
		top: 16px;
		left: -2px;
		height: 2px;
		width: 40px;
		background-color: $white;
		@include transform(rotate(135deg));
	}
}

.text-modal {
	max-width: 60%;
	text-align: left;

	h2 {
		font-weight: 300;
		font-size: 1.7rem;
		margin-top: 0;
	}
}

.law {
	max-width: 60%;
	text-align: left;

	p {
		font-weight: 300;
		font-size: 1.1rem;
		margin-top: 2rem;
		margin-bottom: 0;
	}
}

.form-modal {
	width: 60%;
	.input {
		input {
			width: 100%;
			height: 40px;
			margin-bottom: 1rem;
			padding-left: 1rem;
		}
	} 

	.btn {
		width: 100%;
		height: 60px;
		background-color: $green;
	}
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
}

.thanks-page {
	height: 100vh !important;
	
	.offer-block {
		margin-top: 15% !important;
	}
}
